:root {
  --xs: .86rem;
  --sm: 1rem;
  --base: 1.15rem;
  --lg: 1.3rem;
  --xl: 1.44rem;
  --2xl: 1.725rem;
  --3xl: 2.156rem;
  --4xl: 2.588rem;
  --5xl: 3.45rem;
  --6xl: 4.6rem;
  --7xl: 5.75rem;
}
